<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Usuarios</h3>
            <br />
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#agregarUsuario"
            >
              <i class="fas fa-user-plus"></i> Agregar
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="row-border hover"
            >
              <thead style="background-color: #343a40; color: white">
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Role</th>
                  <th>Area</th>
                  <th>Status</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ usuario.nombre }}</td>
                  <td>{{ usuario.email }}</td>
                  <td>
                    <button class="btn btn-primary btn-xs" (click)="cambiarPass(usuario.id)"
                    >
                      <i class="fas fa-key"></i> Cambio Password
                    </button>
                  </td>
                  <td>{{ usuario.role }}</td>
                  <td>{{ usuario.area }}</td>
                  <td>{{ usuario.estado }}</td>
                  <td>
                    <button class="btn btn-warning btn-xs mr-2"
                    (click)="llenarForm(usuario.id)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>

                    <button class="btn btn-danger btn-xs" (click)="eliminarUsuario(usuario.id)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    
                    <button *ngIf="usuario.estado == 'Activo'" class="btn btn-success btn-xs ml-2" (click)="cambiaEstado(usuario.id,usuario.estado)">
                        <i class="fas fa-toggle-on"></i>
                      </button>

                      <button *ngIf="usuario.estado != 'Activo'" class="btn btn-secondary btn-xs ml-2" (click)="cambiaEstado(usuario.id,usuario.estado)">
                        <i class="fas fa-toggle-off"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

  <!-- /Modal Agregar Usuario -->
  <div class="modal fade" id="agregarUsuario">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Usuarios</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="crearUsuarios()"
            [formGroup]="registerForm"
            autocomplete="off"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Full name"
                formControlName="nombre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-user"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-envelope"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Area"
                formControlName="area"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-user"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-lock"
                    style="color: rgb(48, 37, 37) ;"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Retype password"
                formControlName="password2"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-lock"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <select
                class="form-control"
                formControlName="role"
                (change)="changeRole($event)"
              >
                <option value="">Seleccione el rol</option>
                <option *ngFor="let i of Roles">{{ i }}</option>
              </select>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                  <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
                  <p *ngIf="campoNoValido('role')">El role es obligatorio</p>
                  <p *ngIf="campoNoValido('area')">El area es obligatoria</p>
                  <p *ngIf="constrasenasNoValidas()">
                    Las contraseñas tienen que ser iguales
                  </p>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- /Modal Editar Usuario -->
  <div class="modal fade" id="editarUsuario">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Usuario</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="editarUsuario()"
            [formGroup]="registerForm"
            autocomplete="off"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Full name"
                formControlName="nombre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-user"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-envelope"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <select
                class="form-control"
                formControlName="role"
                (change)="changeRole($event)"
              >
                <option value="">Seleccione el rol</option>
                <option *ngFor="let role of Roles">{{ role }}</option>
              </select>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                  <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
                  <p *ngIf="campoNoValido('role')">El role es obligatorio</p>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- /Modal Cambiar Password -->
  <div class="modal fade" id="cambiarPassword">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cambiar Password</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="changePassword()" [formGroup]="cambioContrasenaForm" autocomplete="off">
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Old Password"
                formControlName="oldPassword"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-lock"
                    style="color: rgb(48, 37, 37) ;"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="new Password"
                formControlName="newPassword"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-lock"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                formControlName="newPassword2"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-lock"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido2('oldPassword')">Igresar la Contraseña antigua</p>
                  <p *ngIf="constrasenasNoValidas2()"> Las contraseñas tienen que ser iguales</p>
              </div>

              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Guardar Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
