<p></p>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Detalles de movimiento {{id}}</h3>
                <br />
                <br />
                <br >
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarMovimiento">
                  <i class="fas fa-prescription-bottle-alt"></i> Agregar
                </button>
                <p>    </p>
                <button type="button" class="btn btn-primary" (click)="reloadComponent()">
                  <i class="fa-solid fa-arrow-up-left"></i> Regresar
                </button>
    
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                  <thead style="background-color: #343a40; color: white">
                    <tr>
                      <th>#</th>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Observaciones</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let detMov of detMovimientos; let i = index" >
                      <td>{{ i+1 }}</td>
                      <td>{{ detMov.producto.nombre }}</td>
                      <td>{{ detMov.cantidad }}</td>
                      <td>{{ detMov.observaciones }}</td>
                      <td>
                        <!-- <button class="btn btn-warning btn-xs mr-2"(click)="llenarForm(i.id)"> -->
                        <button class="btn btn-warning btn-xs mr-2">
                          <i class="fas fa-pencil-alt"></i>
                        </button>
    
                        <button class="btn btn-danger btn-xs">
                          <!-- <button class="btn btn-danger btn-xs" (click)="eliminarCategoria(i.id)"> -->
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    
    
      </div>

</div>