<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Clientes</h3>
            <br />
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#agregarCliente"
            >
              <i class="fas fa-list-alt"></i> Agregar
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="row-border hover"
            >
              <thead style="background-color: #343a40; color: white">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Nro Documento</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientees; let i = index">
                  <td>{{ cliente.id }}</td>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.documento }}</td>
                  <td>{{ cliente.email }}</td>
                  <td>{{ cliente.telefono }}</td>
                  <td>{{ cliente.estado }}</td>
                  <td>
                    <button
                      class="btn btn-warning btn-xs mr-2"
                      (click)="llenarForm(cliente.id)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </button>

                    <button
                      class="btn btn-danger btn-xs"
                      (click)="eliminarCliente(cliente.id)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>

                    <button
                      *ngIf="cliente.estado == 'Activo'"
                      class="btn btn-success btn-xs ml-2"
                      (click)="cambiaEstado(cliente.id, cliente.estado)"
                    >
                      <i class="fas fa-toggle-on"></i>
                    </button>

                    <button
                      *ngIf="cliente.estado != 'Activo'"
                      class="btn btn-secondary btn-xs ml-2"
                      (click)="cambiaEstado(cliente.id, cliente.estado)"
                    >
                      <i class="fas fa-toggle-off"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

  <!-- /Modal Agregar Cliente -->
  <div class="modal fade" id="agregarCliente">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Cliente</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="crearCliente()"
            [formGroup]="registerForm"
            autocomplete="off"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Full name"
                formControlName="nombre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-user"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nro Documento"
                formControlName="documento"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-digg"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Ingrese Email"
                formControlName="email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-envelope"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese Telefono"
                formControlName="telefono"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-phone"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('nombre')">
                    El nombre es obligatorio
                  </p>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <!-- /Modal Editar Cliente -->
  <div class="modal fade" id="editarCliente">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Cliente</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="editarCliente()"
            [formGroup]="registerForm"
            autocomplete="off"
          >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Full name"
                formControlName="nombre"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-user"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                placeholder="Nro Documento"
                formControlName="documento"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-digg"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Ingrese Email"
                formControlName="email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-envelope"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="number"
                class="form-control"
                placeholder="Ingrese Telefono"
                formControlName="telefono"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span
                    class="fas fa-phone"
                    style="color: rgb(48, 37, 37)"
                  ></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('nombre')">
                    El nombre es obligatorio
                  </p>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
