<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Movimiento</h3>
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarMovimiento"
              (click)="llenarSelects()">
              <i class="fas fa-prescription-bottle-alt"></i> Agregar
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead style="background-color: #343a40; color: white">
                <tr>
                  <th>Id Mov</th>
                  <th>Tipo de movimiento</th>
                  <th>Tipo Documento</th>
                  <th>Numero de Documento</th>
                  <th>Proveedor</th>
                  <th>Cliente</th>
                  <th>Usuario</th>
                  <th>Fecha Movimiento</th>
                  <th>Observaciones</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of movimientos">
                  <td>{{ i.id }}</td>
                  <td>{{ i.tipo_movimiento.nombre }}</td>
                  <td>{{ i.tipo_documento.nombre }}</td>
                  <td>{{ i.numero_documento }}</td>
                  <td *ngIf="i.proveedor != null">{{ i.proveedor.nombre }}</td>
                  <td *ngIf="i.proveedor == null">{{ null }}</td>
                  <td *ngIf="i.cliente != null">{{ i.cliente.nombre }}</td>
                  <td *ngIf="i.cliente == null">{{ null }}</td>
                  <td>{{ i.usuario.nombre }}</td>
                  <td>{{ i.fecha_movimiento }}</td>
                  <td>{{ i.observaciones }}</td>
                  <td>
                    <!-- <button class="btn btn-warning btn-xs mr-2"(click)="llenarForm(i.id)"> -->
                    <button class="btn btn-warning btn-xs mr-2">
                      <i class="fas fa-pencil-alt"></i>
                    </button>

                    <button class="btn btn-danger btn-xs">
                      <!-- <button class="btn btn-danger btn-xs" (click)="eliminarCategoria(i.id)"> -->
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

  <!-- /Modal Agregar Movimiento -->
  <div class="modal fade" id="agregarMovimiento">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Movimiento</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="crearMovimiento()" [formGroup]="registerForm" autocomplete="off">
            <div class="form-group mb-3">
              <select class="form-control" id="tipMOV" formControlName="tipo_movimiento"
                (change)="tipoMovSeleccionado($event)">
                <option value="">Seleccione Movimiento</option>
                <option *ngFor="let m of tipoMov" value="{{ m.id }}" id="{{ m.tipo }}">
                  {{ m.nombre }}
                </option>
              </select>
            </div>
            <p class="alert alert-danger"
              *ngIf="registerForm.get('tipo_movimiento')?.touched && registerForm.get('tipo_movimiento')?.errors?.['required']">
              El tipo de Movimiento es obligatorio
            </p>

            <div class="form-group mb-3">
              <select class="form-control" formControlName="tipo_documento" (change)="tipoDocSeleccionado($event)">
                <option value="">Seleccione Documento</option>
                <option *ngFor="let d of tipoDoc" value="{{ d.id }}">
                  {{ d.nombre }}
                </option>
              </select>
            </div>
            <p class="alert alert-danger"
              *ngIf="registerForm.get('tipo_documento')?.touched && registerForm.get('tipo_documento')?.errors?.['required']">
              El tipo de documento es obligatorio
            </p>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Numero de Documento"
                formControlName="numero_documento" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-text-height" style="color: rgb(48, 37, 37)"></span>
                </div>
              </div>
            </div>
            <p class="alert alert-danger"
              *ngIf="registerForm.get('numero_documento')?.touched && registerForm.get('numero_documento')?.errors?.['required']">
              El número de documento es obligatorio
            </p>

            <div class="form-group mb-3">
              <select class="form-control" formControlName="proveedor" (change)="proveedorSeleccionado($event)">
                <option value="">Seleccione un Proveedor</option>
                <option *ngFor="let p of proveedores" value="{{ p.id }}">
                  {{ p.nombre }}
                </option>
              </select>
            </div>

            <div class="form-group mb-3">
              <select class="form-control" formControlName="cliente" (change)="clienteSeleccionado($event)">
                <option value="">Seleccione un Cliente</option>
                <option *ngFor="let c of clientes" value="{{ c.id }}">
                  {{ c.nombre }}
                </option>
              </select>
            </div>

            <div class="form-group mb-3">
              <select class="form-control" formControlName="usuario" (change)="usuarioSeleccionado($event)">
                <option value="">Seleccione un Usuario</option>
                <option *ngFor="let u of usuarios" value="{{ u.id }}">
                  {{ u.nombre }}
                </option>
              </select>
            </div>
            <p class="alert alert-danger"
              *ngIf="registerForm.get('usuario')?.touched && registerForm.get('usuario')?.errors?.['required']">
              El Usuario es obligatorio
            </p>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Observaciones" formControlName="observaciones" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-text-height" style="color: rgb(48, 37, 37)"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('tipo_movimiento')">
                    El tipo de movimiento es obligatorio
                  </p>
                  <p *ngIf="campoNoValido('tipo_documento')"></p>
                  <p *ngIf="campoNoValido('usuario')">
                    El usuario es obligatoria
                  </p>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close
                </button>
                <button routerLink="../../dashboard/movimientos" type="submit" class="btn btn-primary">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</section>